.btn {
  background-color: rgba(7, 36, 46);
  border-radius: 16px;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 16px;
  width: 100%;
  border: none;
}

.btn:hover {
  background-color: rgb(21, 110, 140);
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 120px;
  right: 20px;
  cursor: pointer;
  background-image: url("../assets/icons/arrow-up-solid.svg");
  background-color: rgba(7, 36, 46, 0.1);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  object-fit: cover;
  padding: 16px 16px;
  scroll-behavior: smooth;
}

#topBtn:hover {
  background-color: rgb(21, 110, 140);
}

#basketBtn {
  display: none;
  position: fixed;
  bottom: 0px;
  cursor: pointer;
  background-color: rgb(21, 110, 140);
  border: none;
  height: 24px;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  padding: 16px 16px 32px 16px;
  color: white;
  scroll-behavior: smooth;
}

#basketBtn:hover {
  background-color: rgba(7, 36, 46);
}

.basketBtn {
  top: 0px;
  cursor: pointer;
  background-color: rgb(21, 110, 140);
  border: none;
  height: 24px;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  padding: 16px 16px 32px 16px;
  color: white;
  scroll-behavior: smooth;
  margin-bottom: 16px;
  display: none;
}

.basketBtn:hover {
  background-color: rgba(7, 36, 46);
}

.fixed_button {
  position: absolute !important;
  margin-top: 200px;
  bottom: auto !important;
}
